.form-signin {
    width: 400px;
    padding: 15px;
}

.background-login {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: left;
}

.logo {
    width: 170px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-sm-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-sm-7 {
    display: flex;
    align-items: center;
    justify-content: center;
}
